<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../partials/headTags') %>
        <title>Home</title>
    </head>

    <body>
        <%- include('../partials/header') %>

        <main>
            <h2>Welcome back <span style="color: #ffea00;"><%= username %></span></h2>


            <p>Links created: <%= totalLinks %></p>
            <p>Total hits: <%= totalHits %></p>

            <div>
                <a href="/l/create">Create</a>
                <a href="/l/">Analytics</a>
            </div>
        </main>
    </body>

</html>